<!DOCTYPE html>
<html lang="en" class="light scroll-smooth group" data-layout="vertical" data-sidebar="light" data-sidebar-size="lg" data-mode="light" data-topbar="light" data-skin="default" data-navbar="sticky" data-content="fluid" dir="ltr">


<!-- Mirrored from themesdesign.in/tailwick/html/pages-404.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 10 Feb 2024 20:31:54 GMT -->
<head>

    <meta charset="utf-8">
    <title>Thank you!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta content="Minimal Admin & Dashboard Template" name="description">
    <meta content="Themesdesign" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/logoDealDrop.png">
    <!-- Layout config Js -->
    <script src="/assets/js/layout.js"></script>
    <!-- Icons CSS -->
    
    <!-- Tailwind CSS -->
    

  <link rel="stylesheet" href="/assets/css/tailwind2.css">
</head>

<body class="flex items-center justify-center min-h-screen py-16 bg-cover bg-auth-pattern dark:bg-auth-pattern-dark font-public">

    <div class="mb-0 border-none shadow-none lg:w-[500px] card bg-white/70 dark:bg-zink-500/70">
        <div class="!px-10 !py-12 card-body">
            <a href="index-2.html">
                <img src="/assets/images/logoDealDrop.png" alt="" class="hidden h-6 mx-auto dark:block">
            </a>
            <div class="mt-8 text-center">
                <h4 class="mb-2 text-purple-500">Thank you for confirming delivery!</h4>
                <p class="mb-6 text-slate-500 dark:text-zink-200">We truly appreciate your prompt action in scanning the QR code to confirm the delivery of your order. Your diligence helps us ensure smooth and efficient operations.</p>
                <h4 class="mb-2 text-purple-500">We hope you enjoyed your shopping experience with us</h4>
                <p class="mb-6 text-slate-500 dark:text-zink-200">
At DealDrop, we strive to provide exceptional service and high-quality products. If you have any feedback or inquiries, please don't hesitate to reach out to our customer support team.

Thank you once again for choosing DealDrop. We look forward to serving you again soon!</p>
<br><br><h6>
Best regards,<br>
DealDrop Team</h6>
                <a href="{{path('app_home')}}" class="text-white transition-all duration-200 ease-linear btn bg-custom-500 border-custom-500 hover:text-white hover:bg-custom-600 hover:border-custom-600 focus:text-white focus:bg-custom-600 focus:border-custom-600 focus:ring focus:ring-custom-100 active:text-white active:bg-custom-600 active:border-custom-600 active:ring active:ring-custom-100 dark:ring-custom-400/20"><i data-lucide="home" class="inline-block size-3 ltr:mr-1 rtl:ml-1"></i> <span class="align-middle">Back to Home</span></a>
            </div>
        </div>
    </div>
</body>


<!-- Mirrored from themesdesign.in/tailwick/html/pages-404.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 10 Feb 2024 20:31:54 GMT -->
</html>