<!DOCTYPE html>

<title>Hello BidController!</title>

{% block body %}
{{ form_start(bidForm) }}
{{ form_widget(bidForm) }}
<button type="submit">Place Bid</button>
{{ form_end(bidForm) }}

{% endblock %}
